<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>401 - Truy cập bị từ chối</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh//gemini-dot/learnpythonserver-sm@main/frontend/styles/error_site/401.css"
    />
  </head>
  <body>
    <div class="bg-text">LOCKED</div>

    <div class="container">
      <div class="lock-icon">
        <svg viewBox="0 0 24 24">
          <path
            d="M12,1A5,5 0 0,1 17,6V9H18A2,2 0 0,1 20,11V21A2,2 0 0,1 18,23H6A2,2 0 0,1 4,21V11A2,2 0 0,1 6,9H7V6A5,5 0 0,1 12,1M12,3A3,3 0 0,0 9,6V9H15V6A3,3 0 0,0 12,3M12,14A1.5,1.5 0 1,0 13.5,15.5A1.5,1.5 0 0,0 12,14Z"
          />
        </svg>
      </div>

      <h1>401 - Unauthorized</h1>
      <p>
        Dừng lại chút og ơi! Khu vực này yêu cầu quyền đăng nhập. <br />
        Có vẻ og chưa được cấp phép để xem nội dung này rồi.
      </p>

      <div class="btn-group">
        <a href="https://vault-storage.me/auth/login" class="btn btn-black"
          >Đăng nhập</a
        >
        <a href="/" class="btn">Quay lại</a>
      </div>
    </div>
  </body>
</html>
