<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 - Lỗi máy chủ nội bộ</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh//gemini-dot/learnpythonserver-sm@main/frontend/styles/error_site/500.css"
    />
  </head>
  <body>
    <div class="bg-text">SERVER</div>

    <div class="container">
      <div class="icon-box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M12 2L1 21h22L12 2zm0 3.45L20.22 19H3.78L12 5.45zM11 16h2v2h-2v-2zm0-6h2v4h-2v-4z"
          />
        </svg>
      </div>

      <div class="error-num">500</div>
      <h1>Lỗi hệ thống</h1>
      <p>
        Server của tui đang gặp sự cố đột xuất. <br />
        Có vẻ như mã nguồn đang "biểu tình" một chút. Og thử tải lại trang xem
        sao!
      </p>

      <button class="btn" onclick="location.reload()">Tải lại trang</button>
    </div>
  </body>
</html>
