<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt lại mật khẩu | Modern Reset</title>
    <link
      rel="stylesheet"
      href="https://cdn.statically.io/gh//gemini-dot/learnpythonserver-sm@main/frontend/styles/group_password/create_new_pass.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.statically.io/gh//gemini-dot/learnpythonserver-sm@main/frontend/asset/icons/main_logo_2.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.statically.io/gh//gemini-dot/learnpythonserver-sm@main/frontend/styles/popup/styles.css"
    />
  </head>
  <body>
    <div id="toast-container"></div>
    <div class="container">
      <div class="reset-box">
        <h2>Thiết lập lại mật khẩu</h2>
        <p>Nhập mật khẩu mới của bạn vào đây nhé!</p>

        <form id="btn-reset">
          <div class="input-group">
            <input id="mat-khau-moi" type="password" required />
            <label>Mật khẩu mới</label>
            <span class="bar"></span>
          </div>

          <div class="input-group">
            <input id="mat-khau-xac-nhan" type="password" required />
            <label>Xác nhận mật khẩu</label>
            <span class="bar"></span>
          </div>

          <button type="submit" class="btn-reset">Cập nhật mật khẩu</button>
        </form>

        <a href="https://vault-storage.me/auth/login" class="back-link"
          >← Quay lại đăng nhập</a
        >
      </div>
    </div>

    <div id="particles-js"></div>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.statically.io/gh//gemini-dot/learnpythonserver-sm@main/frontend/javascript/group_password/effect/input_pass_effect/mang_nhen.js"></script>
    <script
      type="module"
      src="https://cdn.statically.io/gh//gemini-dot/learnpythonserver-sm@main/frontend/javascript/group_password/main/forgot_password3.js"
    ></script>
  </body>
</html>
